body {
    background: #FFF0C9 !important;
    position: relative;
    overflow-x: hidden;
}
.card {
    border: 1px solid #28a745;
}
.card-login {
    margin-top: 130px;
    padding: 18px;
    max-width: 30rem;
}

.card-header {
    color: #fff;
    /*background: #ff0000;*/
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600 !important;
    margin-top: 10px;
    border-bottom: 0;
}

.input-group-prepend span{
    width: 50px;
    background-color: #ff0000;
    color: #fff;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn{
    width: 130px;
}

.login_btn:hover{
    color: #fff;
    background-color: #ff0000;
}

.btn-outline-danger {
    color: #fff;
    font-size: 18px;
    background-color: #28a745;
    background-image: none;
    border-color: #28a745;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #28a745;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #28a745;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
}







header {
    background-color: rgb(89, 131, 255) !important;
    width: 100%;
    z-index: 10;
    display: block;
}

header div.logo {
    align-content: center;
    display: inline;
    width: 20px;
}

header div img {
    position: relative;
    margin-top: -5%;
    width: 10%;
}

.wrapper {
    width: 60%;
    margin: auto;
    overflow: hidden;
    display: inline-block;
}

nav ul {
    position: relative;
    margin: auto;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: rgb(59, 87, 172);
}

nav ul li a:hover, nav ul li a:visited, nav ul li a:active {
    text-decoration: none;
    color:white;
}

#contenedor {
    width: 85%;
    height: auto;
    background: rgb(59, 87, 172);
    padding: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

#tablaInstalaciones {
    padding: 0;
    width: 100%;
}

#tablaInstalaciones td {
    width: 50%;
    text-align: center;
}

.imagenInstalacion {
    width: 20em;
    height: 15em;
    cursor: pointer;
}

#tablaInstalaciones td {
    color: white;
}

.celdaModificarInstalacion {
    display: none;
}

#tablaInstalaciones table tr td:last-child {
    display: none;
}

#tablaInstalaciones button {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-bottom: 25%;
    margin-right: auto;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    transition: all 0.5s ease;
    border: 2px solid black;
}

#tablaInstalaciones table a:visited, #tablaInstalaciones table a:hover, #tablaInstalaciones table a:active {
    text-decoration: none;
    cursor: default;
}

#tablaInstalaciones table button.botonModificarInstalacion {
    background: #71c8e2
}

#tablaInstalaciones table button.botonModificarInstalacion:hover {
    background: #2282a0;
    color: #bfe8f5;
}

#tablaInstalaciones table button.botonEliminarInstalacion{
    background: #e46f79;
}

#tablaInstalaciones table button.botonEliminarInstalacion:hover {
    background: #d64551;
    color:  #ffc5ca;
}

.botonNuevoUsuario {
    position: relative;
}

#formModificarInstalacion, #formCrearInstalacion {
    position: relative;
    left: 50%;
    transform: translateX(-30%);
    width: 50%;
    color: white;
}

#formModificarInstalacion input {
    position: relative;
    margin-right: 0%;
}

#formModificarInstalacion input[type="file"] {
    display: none;
}

#formModificarInstalacion label img {
    width: 50%;
    cursor: pointer;
}

#formModificarInstalacion input[type="submit"] {
    background: #7af094 !important;
    color: black;
    transition: all 0.5s ease;
    border-radius: 15px !important;
}

#formModificarInstalacion input[type="submit"]:hover {
    background: #56d672 !important;
    color: white;
}

textarea {
    resize: none !important;
}

.botonNuevo {
    position: relative;
    width: 5%;
}

#formCrearInstalacion input[type="submit"] {
    background: #7af094 !important;
    color: black;
    transition: all 0.5s ease;
    border-radius: 15px !important;
}

#formCrearInstalacion input[type="submit"]:hover {
    background: #56d672 !important;
    color: white;
}

table#calendar1 {
    border: 1px solid black;
    position: relative;
    width: 100%;
}

table#calendar1, table#calendar2 {
    border-radius: 5px;
    background: white;
}

table#calendar2 {
    width: 100%;
    border: 1px solid black;
}

#calendarios {
    width: 100%;
    text-align: center;
    
}

#calendarios table td, #calendarios table th {
    padding: 16px;
    vertical-align: top;
}


td.hoy {
    background-color: #75acff;
}

.fechaCalendar1, .fechaCalendar2 {
    color: white;
    margin-bottom: 2%;
    font-size: 22px;
}

#tablaUsuarios {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: none;
}

.theadUsuarios {
    text-align: center;
    color: white;
}

#tablaUsuarios tr.usuario{
    background-color: white;
    border-radius: 5px;
    height: 20%;
}

#tablaUsuarios tr.usuario td {
    padding-bottom: 15px;
    padding-left: 20px;
}

.filaEspacio {
    padding-bottom: 20%;
}

.formInsertarUsuario {
    color: white;
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.formUpdate {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.formUpdate input[type="file"] {
    display: none;
}

.formUpdate label img {
    width: 50%;
    cursor: pointer;
}

div.diaConReserva {
    background-color: #f7a7ae;
    width: 100%;
}

img.puntoRojoReserva {
    width: 5%;
    margin-left: 0;
}